Repository ghaiklor/kittik: changes, and which Codecov flags are due for each by the changed paths.
All: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-parser, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

refactor: 💡 kittik-shape-rectangle
  packages/kittik-shape-rectangle/src/Rectangle.ts
Due: kittik-shape-rectangle

feat: 🎸 implement more user-friendly error handling in slides
  packages/kittik-slide/spec/AnimationBuilder.spec.ts
  packages/kittik-slide/spec/ShapeBuilder.spec.ts
  packages/kittik-slide/spec/Slide.spec.ts
  packages/kittik-slide/src/animation/AnimationBuilder.ts
  packages/kittik-slide/src/shape/ShapeBuilder.ts
  packages/kittik-slide/src/slide/Slide.ts
Due: kittik-slide

chore: 🤖 update dependencies to the latest version
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

style: 💄 apply new rules from eslint
  packages/kittik-animation-basic/src/Animation.ts
  packages/kittik-animation-basic/src/Animationable.ts
  packages/kittik-slide/src/animation/Animations.ts
  packages/kittik-slide/src/shape/Shapes.ts
Due: kittik-animation-basic, kittik-slide

refactor: 💡 kittik-deck
  packages/kittik-deck/examples/complex.ts
  packages/kittik-deck/examples/declaration.ts
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

chore: 🤖 update @types/node to the latest version
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

test: 💍 fix broken unit tests after behaviour change
  packages/kittik-deck/spec/Deck.spec.ts
Due: kittik-deck

test: 💍 more cases for focus animation
  packages/kittik-animation-focus/spec/Focus.spec.ts
  packages/kittik-animation-focus/src/Focus.ts
Due: kittik-animation-focus

test: 💍 add a case for wrong alignment in text shape
  packages/kittik-shape-text/spec/Text.spec.ts
Due: kittik-shape-text

test: 💍 add a case when delay is non finite
  packages/kittik-animation-basic/spec/Animation.spec.ts
Due: kittik-animation-basic

test: 💍 add a case when animation is not exists in the slide
  packages/kittik-slide/spec/Slide.spec.ts
Due: kittik-slide

test: 💍 more use-cases for deck
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-deck/spec/DeckBuilder.spec.ts
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

test: 💍 remove flaky expect
  packages/kittik-animation-print/spec/Print.spec.ts
Due: kittik-animation-print

chore: 🤖 update target from commonjs modules to ES2020 modules
  packages/kittik-shape-code/src/Code.ts
  tsconfig.json
Due: kittik-shape-code

chore: 🤖 ES2020 target is not ready yet, even for pet projects
  tsconfig.json
Due: none

chore: 🤖 return esModuleInterop
  tsconfig.eslint.json
  tsconfig.json
Due: none

chore: 🤖 remove unused and not needed kittik-parser package
  codecov.yml
  packages/kittik-parser/src/grammar/grammar.js
  packages/kittik-parser/src/grammar/grammar.ne
  packages/kittik-parser/src/index.js
  packages/kittik-parser/test/index.test.js
Due: kittik-parser

chore: 🤖 fix glob patterns in tsconfig files
  packages/kittik-animation-basic/tsconfig.eslint.json
  packages/kittik-animation-basic/tsconfig.json
  packages/kittik-animation-focus/tsconfig.eslint.json
  packages/kittik-animation-focus/tsconfig.json
  packages/kittik-animation-print/tsconfig.eslint.json
  packages/kittik-animation-print/tsconfig.json
  packages/kittik-animation-slide/tsconfig.eslint.json
  packages/kittik-animation-slide/tsconfig.json
  packages/kittik-deck/tsconfig.eslint.json
  packages/kittik-deck/tsconfig.json
  packages/kittik-shape-basic/tsconfig.eslint.json
  packages/kittik-shape-basic/tsconfig.json
  packages/kittik-shape-code/tsconfig.eslint.json
  packages/kittik-shape-code/tsconfig.json
  packages/kittik-shape-fig-text/tsconfig.eslint.json
  packages/kittik-shape-fig-text/tsconfig.json
  packages/kittik-shape-image/tsconfig.eslint.json
  packages/kittik-shape-image/tsconfig.json
  packages/kittik-shape-rectangle/tsconfig.eslint.json
  packages/kittik-shape-rectangle/tsconfig.json
  packages/kittik-shape-text/tsconfig.eslint.json
  packages/kittik-shape-text/tsconfig.json
  packages/kittik-slide/tsconfig.eslint.json
  packages/kittik-slide/tsconfig.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 remove lerna-update script
  package.json
Due: none

chore: 🤖 move to tsc 3.9.0-beta and fix lint errors
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-focus/spec/Focus.spec.ts
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-shape-text/spec/Text.spec.ts
  packages/kittik-slide/package.json
  packages/kittik-slide/spec/AnimationBuilder.spec.ts
  packages/kittik-slide/spec/ShapeBuilder.spec.ts
  packages/kittik-slide/src/slide/Slide.ts
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

style: 💄 all keys in objects must be sorted if keys >= 5
  .eslintrc.json
  packages/kittik-animation-basic/spec/Animation.spec.ts
  packages/kittik-animation-focus/examples/bounce.ts
  packages/kittik-animation-focus/examples/shake.ts
  packages/kittik-animation-focus/spec/Focus.spec.ts
  packages/kittik-animation-print/examples/simple.ts
  packages/kittik-animation-slide/examples/simple.ts
  packages/kittik-animation-slide/src/Slide.ts
  packages/kittik-deck/examples/declaration.ts
  packages/kittik-shape-basic/spec/Shape.spec.ts
  packages/kittik-shape-basic/src/Shape.ts
  packages/kittik-shape-code/spec/Code.spec.ts
  packages/kittik-shape-code/src/themes/default.ts
  packages/kittik-shape-fig-text/examples/figlet-options.ts
  packages/kittik-shape-fig-text/spec/FigText.spec.ts
  packages/kittik-shape-fig-text/src/FigText.ts
  packages/kittik-shape-image/spec/Image.spec.ts
  packages/kittik-shape-rectangle/examples/options.ts
  packages/kittik-shape-rectangle/spec/Rectangle.spec.ts
  packages/kittik-shape-text/spec/Text.spec.ts
  packages/kittik-slide/examples/declaration.ts
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

style: 💄 enable no-underscore-dangle rule
  .eslintrc.json
  packages/kittik-animation-focus/src/Focus.ts
  packages/kittik-shape-basic/src/Shape.ts
  packages/kittik-shape-code/src/Code.ts
  packages/kittik-shape-image/src/Image.ts
Due: kittik-animation-focus, kittik-shape-basic, kittik-shape-code, kittik-shape-image

style: 💄 enable no-plusplus rule
  .eslintrc.json
  packages/kittik-animation-basic/src/Easing.ts
  packages/kittik-shape-rectangle/src/Rectangle.ts
Due: kittik-animation-basic, kittik-shape-rectangle

style: 💄 defaults to newline-per-chained-call rule
  .eslintrc.json
  packages/kittik-animation-basic/src/Animation.ts
  packages/kittik-animation-focus/examples/bounce.ts
  packages/kittik-animation-focus/examples/shake.ts
  packages/kittik-animation-focus/src/Focus.ts
  packages/kittik-animation-print/examples/simple.ts
  packages/kittik-animation-slide/examples/simple.ts
  packages/kittik-shape-rectangle/src/Rectangle.ts
  packages/kittik-slide/examples/builder.ts
  packages/kittik-slide/examples/declaration.ts
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-shape-rectangle, kittik-slide

style: 💄 defaults to max-params
  .eslintrc.json
  packages/kittik-animation-basic/src/Animation.ts
  packages/kittik-animation-basic/src/Easing.ts
  packages/kittik-animation-basic/src/EasingOptions.ts
Due: kittik-animation-basic

style: 💄 add exceptions for variables x, y to id-length rule
  .eslintrc.json
  packages/kittik-animation-basic/src/Easing.ts
  packages/kittik-deck/examples/builder.ts
  packages/kittik-deck/examples/declaration.ts
  packages/kittik-deck/src/Deck.ts
  packages/kittik-slide/examples/builder.ts
  packages/kittik-slide/examples/declaration.ts
Due: kittik-animation-basic, kittik-deck, kittik-slide

style: 💄 disable @typescript-eslint/typedef
  .eslintrc.json
Due: none

style: 💄 defaults for @typescript-eslint/quotes
  .eslintrc.json
Due: none

style: 💄 defaults for @typescript-eslint/no-unsafe-call
  .eslintrc.json
Due: none

style: 💄 @typescript-eslint/no-type-alias allows in-unions only
  .eslintrc.json
Due: none

style: 💄 defaults for @typescript-eslint/indent
  .eslintrc.json
Due: none

style: 💄 defaults for @typescript-eslint/consistent-type-assert
  .eslintrc.json
  packages/kittik-animation-basic/src/Animation.ts
  packages/kittik-deck/package.json
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-shape-basic/src/Shape.ts
  packages/kittik-shape-fig-text/spec/FigText.spec.ts
  packages/kittik-shape-text/spec/Text.spec.ts
  packages/kittik-slide/examples/builder.ts
  packages/kittik-slide/src/animation/AnimationBuilder.ts
Due: kittik-animation-basic, kittik-deck, kittik-shape-basic, kittik-shape-fig-text, kittik-shape-text, kittik-slide

chore: 🤖 disable some of the typescript rules for js files
  .eslintrc.json
Due: none

test: 💍 fix issue with some of tests after keys sorting in objs
  packages/kittik-shape-basic/spec/Shape.spec.ts
Due: kittik-shape-basic

chore: 🤖 add a lint step before commiting the code
  .vscode/settings.json
  package.json
Due: none

chore: 🤖 remove --stream and --parallel from lerna run scripts
  package.json
Due: none

chore: 🤖 update publish scripts
  .vscode/settings.json
  lerna.json
  package.json
Due: none

docs: ✏️ add a legacy changelog file with old history
  CHANGELOG.md
Due: none

chore: 🤖 remove publishing from-git, let lerna decide the bump
  package.json
Due: none

Path conditions:
  kittik-animation-basic: any of: packages/kittik-animation-basic
  kittik-animation-focus: any of: packages/kittik-animation-focus
  kittik-animation-print: any of: packages/kittik-animation-print
  kittik-animation-slide: any of: packages/kittik-animation-slide
  kittik-deck: any of: packages/kittik-deck
  kittik-parser: any of: packages/kittik-parser
  kittik-shape-basic: any of: packages/kittik-shape-basic
  kittik-shape-code: any of: packages/kittik-shape-code
  kittik-shape-fig-text: any of: packages/kittik-shape-fig-text
  kittik-shape-image: any of: packages/kittik-shape-image
  kittik-shape-rectangle: any of: packages/kittik-shape-rectangle
  kittik-shape-text: any of: packages/kittik-shape-text
  kittik-slide: any of: packages/kittik-slide
