Repository ghaiklor/kittik: changes, and which Codecov flags are due for each by the changed paths.
All: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-parser, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 add different coverage statuses for different packages
  codecov.yml
Due: none

refactor: 💡 done with animation-focus and its integration
  src/kittik-animation-focus/.eslintignore
  src/kittik-animation-focus/.eslintrc.json
  src/kittik-animation-focus/.npmrc
  src/kittik-animation-focus/examples/bounce.ts
  src/kittik-animation-focus/examples/shake.ts
  src/kittik-animation-focus/jest.config.js
  src/kittik-animation-focus/package-lock.json
  src/kittik-animation-focus/package.json
  src/kittik-animation-focus/spec/Focus.spec.ts
  src/kittik-animation-focus/src/Focus.ts
  src/kittik-animation-focus/src/FocusObject.ts
  src/kittik-animation-focus/src/FocusOptions.ts
  src/kittik-animation-focus/src/index.js
  src/kittik-animation-focus/test/index.test.js
  src/kittik-animation-focus/tsconfig.eslint.json
  src/kittik-animation-focus/tsconfig.json
Due: kittik-animation-focus

refactor: 💡 base animate() method with correct signature
  src/kittik-animation-basic/spec/Animation.spec.ts
  src/kittik-animation-basic/src/Animation.ts
Due: kittik-animation-basic

refactor: 💡 done with animation-print and its integration
  src/kittik-animation-print/.eslintignore
  src/kittik-animation-print/.eslintrc.json
  src/kittik-animation-print/.npmrc
  src/kittik-animation-print/examples/simple.ts
  src/kittik-animation-print/jest.config.js
  src/kittik-animation-print/package.json
  src/kittik-animation-print/spec/Print.spec.ts
  src/kittik-animation-print/src/Print.ts
  src/kittik-animation-print/src/index.js
  src/kittik-animation-print/test/index.test.js
  src/kittik-animation-print/tsconfig.eslint.json
  src/kittik-animation-print/tsconfig.json
Due: kittik-animation-print

refactor: 💡 done with animation-slide and its integration
  src/kittik-animation-slide/.eslintignore
  src/kittik-animation-slide/.eslintrc.json
  src/kittik-animation-slide/.npmrc
  src/kittik-animation-slide/examples/simple.ts
  src/kittik-animation-slide/jest.config.js
  src/kittik-animation-slide/package.json
  src/kittik-animation-slide/spec/Slide.spec.ts
  src/kittik-animation-slide/src/Slide.ts
  src/kittik-animation-slide/src/SlideObject.ts
  src/kittik-animation-slide/src/SlideOptions.ts
  src/kittik-animation-slide/src/index.js
  src/kittik-animation-slide/test/index.test.js
  src/kittik-animation-slide/tsconfig.eslint.json
  src/kittik-animation-slide/tsconfig.json
Due: kittik-animation-slide

refactor: 💡 move render() to separate interface ShapeRenderable
  .vscode/settings.json
  src/kittik-shape-basic/spec/Shape.spec.ts
  src/kittik-shape-basic/src/Shape.ts
  src/kittik-shape-basic/src/ShapeRenderable.ts
Due: kittik-shape-basic

refactor: 💡 add custom types for redeyed module
  src/kittik-shape-code/examples/formatter.ts
  src/kittik-shape-code/examples/if-branch.ts
  src/kittik-shape-code/examples/simple.ts
  src/kittik-shape-code/src/Code.ts
  src/kittik-shape-code/src/types/redeyed/index.d.ts
Due: kittik-shape-code

refactor: 💡 re-export Shape interfaces from main point
  src/kittik-shape-basic/src/Shape.ts
  src/kittik-shape-fig-text/examples/figlet-options.ts
  src/kittik-shape-fig-text/examples/simple.ts
  src/kittik-shape-fig-text/src/FigText.ts
  src/kittik-shape-fig-text/src/FigTextObject.ts
  src/kittik-shape-fig-text/src/FigTextOptions.ts
Due: kittik-shape-basic, kittik-shape-fig-text

refactor: 💡 get Shape interfaces from main point in shape-image
  src/kittik-shape-basic/src/Shape.ts
  src/kittik-shape-image/examples/default-image.ts
  src/kittik-shape-image/examples/panda.ts
  src/kittik-shape-image/src/Image.ts
  src/kittik-shape-image/src/ImageObject.ts
  src/kittik-shape-image/src/ImageOptions.ts
Due: kittik-shape-basic, kittik-shape-image

refactor: 💡 use new Shape interfaces in shape-rectangle
  src/kittik-shape-rectangle/examples/options.ts
  src/kittik-shape-rectangle/examples/simple.ts
  src/kittik-shape-rectangle/spec/Rectangle.spec.ts
  src/kittik-shape-rectangle/src/Rectangle.ts
Due: kittik-shape-rectangle

refactor: 💡 use new Shape interfaces in shape-text
  src/kittik-shape-text/examples/simple.ts
  src/kittik-shape-text/spec/Text.spec.ts
  src/kittik-shape-text/src/Text.ts
  src/kittik-shape-text/src/TextObject.ts
  src/kittik-shape-text/src/TextOptions.ts
Due: kittik-shape-text

chore: 🤖 update dependencies to the latest version
  package-lock.json
  src/kittik-animation-basic/package-lock.json
  src/kittik-animation-basic/package.json
  src/kittik-animation-focus/package-lock.json
  src/kittik-animation-focus/package.json
  src/kittik-animation-print/package.json
  src/kittik-animation-slide/package.json
  src/kittik-shape-basic/package-lock.json
  src/kittik-shape-basic/package.json
  src/kittik-shape-code/package-lock.json
  src/kittik-shape-code/package.json
  src/kittik-shape-fig-text/package-lock.json
  src/kittik-shape-fig-text/package.json
  src/kittik-shape-image/package-lock.json
  src/kittik-shape-image/package.json
  src/kittik-shape-rectangle/package-lock.json
  src/kittik-shape-rectangle/package.json
  src/kittik-shape-text/package-lock.json
  src/kittik-shape-text/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text

refactor: 💡 re-export Animation interfaces from the main point
  .vscode/settings.json
  src/kittik-animation-basic/spec/Animation.spec.ts
  src/kittik-animation-basic/spec/Easing.spec.ts
  src/kittik-animation-basic/src/Animation.ts
  src/kittik-animation-basic/src/Animationable.ts
  src/kittik-animation-focus/examples/bounce.ts
  src/kittik-animation-focus/examples/shake.ts
  src/kittik-animation-focus/spec/Focus.spec.ts
  src/kittik-animation-focus/src/Focus.ts
  src/kittik-animation-focus/src/FocusObject.ts
  src/kittik-animation-focus/src/FocusOptions.ts
  src/kittik-animation-print/examples/simple.ts
  src/kittik-animation-print/src/Print.ts
  src/kittik-animation-slide/examples/simple.ts
  src/kittik-animation-slide/src/Slide.ts
  src/kittik-animation-slide/src/SlideObject.ts
  src/kittik-animation-slide/src/SlideOptions.ts
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide

refactor: 💡 add typed on\emit methods in animation-basic
  src/kittik-animation-basic/src/Animation.ts
  src/kittik-animation-print/src/Print.ts
Due: kittik-animation-basic, kittik-animation-print

style: 💄 remove todo comment in animation-print, it works now
  src/kittik-animation-print/src/Print.ts
Due: kittik-animation-print

test: 💍 fix flaky test in animation-print
  src/kittik-animation-print/spec/Print.spec.ts
Due: kittik-animation-print

chore: 🤖 update dependencies to the latest version
  package-lock.json
  src/kittik-animation-basic/package-lock.json
  src/kittik-animation-basic/package.json
  src/kittik-animation-focus/package-lock.json
  src/kittik-animation-focus/package.json
  src/kittik-animation-print/package-lock.json
  src/kittik-animation-print/package.json
  src/kittik-animation-slide/package-lock.json
  src/kittik-animation-slide/package.json
  src/kittik-shape-basic/package-lock.json
  src/kittik-shape-basic/package.json
  src/kittik-shape-code/package-lock.json
  src/kittik-shape-code/package.json
  src/kittik-shape-fig-text/package-lock.json
  src/kittik-shape-fig-text/package.json
  src/kittik-shape-image/package-lock.json
  src/kittik-shape-image/package.json
  src/kittik-shape-rectangle/package-lock.json
  src/kittik-shape-rectangle/package.json
  src/kittik-shape-text/package-lock.json
  src/kittik-shape-text/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

chore: 🤖 add tsconfig.eslint.json to root folder
  tsconfig.eslint.json
Due: none

chore: 🤖 get rid of package-lock.json files
  .npmrc
  package-lock.json
  src/kittik-animation-basic/.npmrc
  src/kittik-animation-basic/package-lock.json
  src/kittik-animation-focus/.npmrc
  src/kittik-animation-focus/package-lock.json
  src/kittik-animation-print/.npmrc
  src/kittik-animation-print/package-lock.json
  src/kittik-animation-slide/.npmrc
  src/kittik-animation-slide/package-lock.json
  src/kittik-shape-basic/.npmrc
  src/kittik-shape-basic/package-lock.json
  src/kittik-shape-code/.npmrc
  src/kittik-shape-code/package-lock.json
  src/kittik-shape-fig-text/.npmrc
  src/kittik-shape-fig-text/package-lock.json
  src/kittik-shape-image/.npmrc
  src/kittik-shape-image/package-lock.json
  src/kittik-shape-rectangle/.npmrc
  src/kittik-shape-rectangle/package-lock.json
  src/kittik-shape-text/.npmrc
  src/kittik-shape-text/package-lock.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text

refactor: 💡 start working with kittik-slide
  src/kittik-animation-basic/src/Animationable.ts
  src/kittik-shape-basic/src/ShapeRenderable.ts
  src/kittik-slide/.eslintignore
  src/kittik-slide/.eslintrc.json
  src/kittik-slide/.npmrc
  src/kittik-slide/jest.config.js
  src/kittik-slide/package.json
  src/kittik-slide/spec/index.test.js
  src/kittik-slide/src/animation/AnimationDeclaration.ts
  src/kittik-slide/src/animation/Animations.ts
  src/kittik-slide/src/index.js
  src/kittik-slide/src/shape/ShapeDeclaration.ts
  src/kittik-slide/src/shape/Shapes.ts
  src/kittik-slide/src/slide/OrderDeclaration.ts
  src/kittik-slide/src/slide/Slide.ts
  src/kittik-slide/src/slide/SlideDeclaration.ts
  src/kittik-slide/tsconfig.eslint.json
  src/kittik-slide/tsconfig.json
Due: kittik-animation-basic, kittik-shape-basic, kittik-slide

refactor: 💡 done with kittik-slide, it is building now
  src/kittik-slide/examples/basic.js
  src/kittik-slide/examples/simple.ts
  src/kittik-slide/package.json
  src/kittik-slide/spec/Slide.spec.ts
  src/kittik-slide/spec/index.test.js
  src/kittik-slide/src/animation/Animations.ts
  src/kittik-slide/src/shape/Shapes.ts
  src/kittik-slide/src/slide/Slide.ts
Due: kittik-slide

refactor: 💡 re-export all the interfaces from shapes\animations
  src/kittik-animation-basic/src/Animation.ts
  src/kittik-animation-focus/src/Focus.ts
  src/kittik-animation-slide/src/Slide.ts
  src/kittik-shape-fig-text/src/FigText.ts
  src/kittik-shape-image/src/Image.ts
  src/kittik-shape-text/src/Text.ts
  src/kittik-slide/examples/simple.ts
  src/kittik-slide/spec/Slide.spec.ts
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-slide, kittik-shape-fig-text, kittik-shape-image, kittik-shape-text, kittik-slide

test: 💍 improve coverage for kittik-slide
  src/kittik-slide/spec/Slide.spec.ts
  src/kittik-slide/src/slide/Slide.ts
  src/kittik-slide/src/slide/SlideDeclaration.ts
Due: kittik-slide

chore: 🤖 add debug configuration for Jest (Current File)
  .vscode/launch.json
Due: none

fix: 🐛 issue when delay could accept NaN or Infinity values
  src/kittik-animation-basic/src/Animation.ts
Due: kittik-animation-basic

chore: 🤖 change target from es5 to es6
  tsconfig.json
Due: none

docs: ✏️ update slide examples with bounce easing
  src/kittik-animation-slide/examples/simple.ts
Due: kittik-animation-slide

docs: ✏️ fix example in kittik-slide
  src/kittik-slide/examples/simple.ts
Due: kittik-slide

refactor: 💡 add re-exports for Slide types to outer packages
  src/kittik-slide/src/animation/Animations.ts
  src/kittik-slide/src/shape/Shapes.ts
  src/kittik-slide/src/slide/Slide.ts
Due: kittik-slide

refactor: 💡 minimal work is done with kittik-deck
  src/kittik-deck/.eslintignore
  src/kittik-deck/.eslintrc.json
  src/kittik-deck/.npmrc
  src/kittik-deck/examples/complex.js
  src/kittik-deck/examples/complex.ts
  src/kittik-deck/jest.config.js
  src/kittik-deck/package.json
  src/kittik-deck/spec/Deck.spec.ts
  src/kittik-deck/src/Deck.ts
  src/kittik-deck/src/DeckDeclaration.ts
  src/kittik-deck/src/index.js
  src/kittik-deck/test/index.test.js
  src/kittik-deck/tsconfig.eslint.json
  src/kittik-deck/tsconfig.json
Due: kittik-deck

fix: 🐛 issue with graceful closing the process
  .vscode/launch.json
  src/kittik-deck/spec/Deck.spec.ts
  src/kittik-deck/src/Deck.ts
Due: kittik-deck

chore: 🤖 update dependencies
  src/kittik-animation-basic/package.json
  src/kittik-animation-focus/package.json
  src/kittik-animation-print/package.json
  src/kittik-animation-slide/package.json
  src/kittik-deck/package.json
  src/kittik-shape-basic/package.json
  src/kittik-shape-code/package.json
  src/kittik-shape-fig-text/package.json
  src/kittik-shape-image/package.json
  src/kittik-shape-rectangle/package.json
  src/kittik-shape-text/package.json
  src/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

style: 💄 fix the code regard new rules in eslint
  .eslintrc.json
  src/kittik-animation-basic/src/Animation.ts
  src/kittik-animation-basic/src/Easing.ts
  src/kittik-animation-focus/examples/bounce.ts
  src/kittik-animation-focus/examples/shake.ts
  src/kittik-animation-focus/src/Focus.ts
  src/kittik-animation-print/examples/simple.ts
  src/kittik-animation-print/src/Print.ts
  src/kittik-animation-slide/examples/simple.ts
  src/kittik-animation-slide/src/Slide.ts
  src/kittik-deck/src/Deck.ts
  src/kittik-shape-basic/src/Shape.ts
  src/kittik-shape-code/src/Code.ts
  src/kittik-shape-fig-text/src/FigText.ts
  src/kittik-shape-image/src/Image.ts
  src/kittik-shape-rectangle/src/Rectangle.ts
  src/kittik-shape-text/src/Text.ts
  src/kittik-slide/src/slide/Slide.ts
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

test: 💍 improve test coverage for Deck
  src/kittik-deck/spec/Deck.spec.ts
  src/kittik-deck/src/Deck.ts
Due: kittik-deck

fix: 🐛 issue when process.stdin could be not an interactive
  src/kittik-deck/src/Deck.ts
Due: kittik-deck

fix: 🐛 issue with animating text with print animation
  src/kittik-shape-fig-text/spec/FigText.spec.ts
  src/kittik-shape-fig-text/src/FigText.ts
Due: kittik-shape-fig-text

chore: 🤖 update jest to the latest version
  src/kittik-animation-basic/package.json
  src/kittik-animation-focus/package.json
  src/kittik-animation-print/package.json
  src/kittik-animation-slide/package.json
  src/kittik-deck/package.json
  src/kittik-shape-basic/package.json
  src/kittik-shape-code/package.json
  src/kittik-shape-fig-text/package.json
  src/kittik-shape-image/package.json
  src/kittik-shape-rectangle/package.json
  src/kittik-shape-text/package.json
  src/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 update dependencies to the latest version
  src/kittik-animation-basic/package.json
  src/kittik-animation-focus/package.json
  src/kittik-animation-print/package.json
  src/kittik-animation-slide/package.json
  src/kittik-deck/package.json
  src/kittik-shape-basic/package.json
  src/kittik-shape-code/package.json
  src/kittik-shape-fig-text/package.json
  src/kittik-shape-image/package.json
  src/kittik-shape-rectangle/package.json
  src/kittik-shape-text/package.json
  src/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

feat: 🎸 add Builder Pattern to Shape/Animation/Slide
  src/kittik-slide/spec/AnimationBuilder.spec.ts
  src/kittik-slide/spec/ShapeBuilder.spec.ts
  src/kittik-slide/spec/Slide.spec.ts
  src/kittik-slide/spec/SlideBuilder.spec.ts
  src/kittik-slide/src/animation/AnimationBuilder.ts
  src/kittik-slide/src/shape/ShapeBuilder.ts
  src/kittik-slide/src/slide/Slide.ts
  src/kittik-slide/src/slide/SlideBuilder.ts
Due: kittik-slide

Path conditions:
  kittik-animation-basic: any of: src/kittik-animation-basic
  kittik-animation-focus: any of: src/kittik-animation-focus
  kittik-animation-print: any of: src/kittik-animation-print
  kittik-animation-slide: any of: src/kittik-animation-slide
  kittik-deck: any of: src/kittik-deck
  kittik-parser: any of: src/kittik-parser
  kittik-shape-basic: any of: src/kittik-shape-basic
  kittik-shape-code: any of: src/kittik-shape-code
  kittik-shape-fig-text: any of: src/kittik-shape-fig-text
  kittik-shape-image: any of: src/kittik-shape-image
  kittik-shape-rectangle: any of: src/kittik-shape-rectangle
  kittik-shape-text: any of: src/kittik-shape-text
  kittik-slide: any of: src/kittik-slide
