Repository ghaiklor/kittik: changes, and which Codecov flags are due for each by the changed paths.
All: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-parser, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

codecov.yml:

coverage:
  status:
    project:
      kittik-animation-basic:
        flags:
          - kittik-animation-basic
      kittik-animation-focus:
        flags:
          - kittik-animation-focus
      kittik-animation-print:
        flags:
          - kittik-animation-print
      kittik-animation-slide:
        flags:
          - kittik-animation-slide
      kittik-deck:
        flags:
          - kittik-deck
      kittik-parser:
        flags:
          - kittik-parser
      kittik-shape-basic:
        flags:
          - kittik-shape-basic
      kittik-shape-code:
        flags:
          - kittik-shape-code
      kittik-shape-fig-text:
        flags:
          - kittik-shape-fig-text
      kittik-shape-image:
        flags:
          - kittik-shape-image
      kittik-shape-rectangle:
        flags:
          - kittik-shape-rectangle
      kittik-shape-text:
        flags:
          - kittik-shape-text
      kittik-slide:
        flags:
          - kittik-slide
flags:
  kittik-animation-basic:
    paths:
      - packages/kittik-animation-basic
  kittik-animation-focus:
    paths:
      - packages/kittik-animation-focus
  kittik-animation-print:
    paths:
      - packages/kittik-animation-print
  kittik-animation-slide:
    paths:
      - packages/kittik-animation-slide
  kittik-deck:
    paths:
      - packages/kittik-deck
  kittik-parser:
    paths:
      - packages/kittik-parser
  kittik-shape-basic:
    paths:
      - packages/kittik-shape-basic
  kittik-shape-code:
    paths:
      - packages/kittik-shape-code
  kittik-shape-fig-text:
    paths:
      - packages/kittik-shape-fig-text
  kittik-shape-image:
    paths:
      - packages/kittik-shape-image
  kittik-shape-rectangle:
    paths:
      - packages/kittik-shape-rectangle
  kittik-shape-text:
    paths:
      - packages/kittik-shape-text
  kittik-slide:
    paths:
      - packages/kittik-slide

test: 💍 fix flaky tests for basic animation
  packages/kittik-animation-basic/spec/Animation.spec.ts
Due: kittik-animation-basic

chore(release): publish v5.1.0-beta.0
  CHANGELOG.md
  lerna.json
  packages/kittik-animation-basic/CHANGELOG.md
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/CHANGELOG.md
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/CHANGELOG.md
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/CHANGELOG.md
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/CHANGELOG.md
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/CHANGELOG.md
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/CHANGELOG.md
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/CHANGELOG.md
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/CHANGELOG.md
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/CHANGELOG.md
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/CHANGELOG.md
  packages/kittik-shape-text/package.json
  packages/kittik-slide/CHANGELOG.md
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 we do not need the canary releases (for now, maybe)
  package.json
Due: none

chore: 🤖 run `all` npm script before trying to publish the pkgs
  package.json
Due: none

docs: ✏️ remove 0.0.0 from changelog
  .vscode/settings.json
  CHANGELOG.md
Due: none

chore: 🤖 releases on GitHub are not created automatically now
  package.json
Due: none

refactor: 💡 split animations and easings in separate folders
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-basic/spec/Animation.spec.ts
  packages/kittik-animation-basic/spec/Easing.spec.ts
  packages/kittik-animation-basic/src/animation/Animation.ts
  packages/kittik-animation-basic/src/animation/AnimationObject.ts
  packages/kittik-animation-basic/src/animation/AnimationOptions.ts
  packages/kittik-animation-basic/src/animation/AnimationPropertyOptions.ts
  packages/kittik-animation-basic/src/animation/Animationable.ts
  packages/kittik-animation-basic/src/easing/Easing.ts
  packages/kittik-animation-basic/src/easing/EasingOptions.ts
Due: kittik-animation-basic

style: 💄 reformat vscode settings from indent 4 to indent 2
  .vscode/settings.json
Due: none

refactor: 💡 array allocation is absurd for iteration
  packages/kittik-animation-focus/src/Focus.ts
Due: kittik-animation-focus

refactor: 💡 add type info for property animation in print
  packages/kittik-animation-print/src/Print.ts
Due: kittik-animation-print

refactor: 💡 add type info to property animation in kittik-slide
  packages/kittik-animation-slide/src/Slide.ts
Due: kittik-animation-slide

refactor: 💡 rename cursor -> canvas in basic shape
  packages/kittik-animation-slide/src/Slide.ts
  packages/kittik-shape-basic/spec/Shape.spec.ts
  packages/kittik-shape-basic/src/Shape.ts
  packages/kittik-shape-basic/src/ShapeRenderable.ts
Due: kittik-animation-slide, kittik-shape-basic

refactor: 💡 continue renaming old wording "cursor" -> "canvas"
  packages/kittik-animation-focus/examples/bounce.ts
  packages/kittik-animation-focus/examples/shake.ts
  packages/kittik-animation-print/examples/simple.ts
  packages/kittik-animation-slide/examples/simple.ts
  packages/kittik-animation-slide/spec/Slide.spec.ts
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-deck/spec/DeckBuilder.spec.ts
  packages/kittik-deck/src/Deck.ts
  packages/kittik-deck/src/DeckBuilder.ts
  packages/kittik-deck/src/DeckDeclaration.ts
  packages/kittik-shape-basic/spec/Shape.spec.ts
  packages/kittik-shape-code/spec/Code.spec.ts
  packages/kittik-shape-code/src/Code.ts
  packages/kittik-shape-fig-text/spec/FigText.spec.ts
  packages/kittik-shape-fig-text/src/FigText.ts
  packages/kittik-shape-image/spec/Image.spec.ts
  packages/kittik-shape-image/src/Image.ts
  packages/kittik-shape-rectangle/spec/Rectangle.spec.ts
  packages/kittik-shape-rectangle/src/Rectangle.ts
  packages/kittik-shape-text/spec/Text.spec.ts
  packages/kittik-shape-text/src/Text.ts
  packages/kittik-slide/examples/builder.ts
  packages/kittik-slide/examples/declaration.ts
  packages/kittik-slide/spec/Slide.spec.ts
  packages/kittik-slide/spec/SlideBuilder.spec.ts
  packages/kittik-slide/src/slide/Slide.ts
  packages/kittik-slide/src/slide/SlideBuilder.ts
Due: kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

feat: 🎸 AnimationBuilder has more type info, which improves DX
  .eslintrc.json
  packages/kittik-animation-print/src/Print.ts
  packages/kittik-animation-print/src/PrintObject.ts
  packages/kittik-animation-print/src/PrintOptions.ts
  packages/kittik-slide/src/animation/AnimationBuilder.ts
  packages/kittik-slide/src/animation/Animations.ts
Due: kittik-animation-print, kittik-slide

feat: 🎸 improve type info in ShapeBuilder, improving overall DX
  packages/kittik-shape-code/src/Code.ts
  packages/kittik-shape-code/src/CodeObject.ts
  packages/kittik-shape-code/src/CodeOptions.ts
  packages/kittik-shape-rectangle/src/Rectangle.ts
  packages/kittik-shape-rectangle/src/RectangleObject.ts
  packages/kittik-shape-rectangle/src/RectangleOptions.ts
  packages/kittik-slide/src/shape/ShapeBuilder.ts
  packages/kittik-slide/src/shape/Shapes.ts
Due: kittik-shape-code, kittik-shape-rectangle, kittik-slide

feat: 🎸 re-export conditional types for options and objects
  packages/kittik-slide/src/slide/Slide.ts
  packages/kittik-slide/src/slide/SlideBuilder.ts
Due: kittik-slide

chore(release): publish v5.1.0-beta.1
  CHANGELOG.md
  lerna.json
  packages/kittik-animation-basic/CHANGELOG.md
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/CHANGELOG.md
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/CHANGELOG.md
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/CHANGELOG.md
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/CHANGELOG.md
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/CHANGELOG.md
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/CHANGELOG.md
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/CHANGELOG.md
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/CHANGELOG.md
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/CHANGELOG.md
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/CHANGELOG.md
  packages/kittik-shape-text/package.json
  packages/kittik-slide/CHANGELOG.md
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 update dependencies to the latest version
  package.json
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

feat: 🎸 generic interface ShapeObject over type and options
  packages/kittik-shape-basic/src/Shape.ts
  packages/kittik-shape-basic/src/ShapeObject.ts
  packages/kittik-shape-code/src/Code.ts
  packages/kittik-shape-code/src/CodeObject.ts
  packages/kittik-shape-fig-text/src/FigText.ts
  packages/kittik-shape-fig-text/src/FigTextObject.ts
  packages/kittik-shape-image/src/Image.ts
  packages/kittik-shape-image/src/ImageObject.ts
  packages/kittik-shape-rectangle/src/Rectangle.ts
  packages/kittik-shape-rectangle/src/RectangleObject.ts
  packages/kittik-shape-text/src/Text.ts
  packages/kittik-shape-text/src/TextObject.ts
  packages/kittik-slide/spec/Slide.spec.ts
  packages/kittik-slide/src/shape/ShapeBuilder.ts
  packages/kittik-slide/src/shape/ShapeDeclaration.ts
  packages/kittik-slide/src/shape/Shapes.ts
  packages/kittik-slide/src/slide/Slide.ts
  packages/kittik-slide/src/slide/SlideDeclaration.ts
Due: kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 update dependencies to the latest version
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

refactor: 💡 dependent types for ShapeOptions and ShapeObject
  packages/kittik-slide/spec/Slide.spec.ts
  packages/kittik-slide/src/shape/ShapeBuilder.ts
  packages/kittik-slide/src/shape/ShapeDeclaration.ts
  packages/kittik-slide/src/shape/Shapes.ts
  packages/kittik-slide/src/slide/Slide.ts
  packages/kittik-slide/src/slide/SlideDeclaration.ts
Due: kittik-slide

feat: 🎸 generic interface AnimationObject over type and options
  packages/kittik-animation-basic/src/animation/Animation.ts
  packages/kittik-animation-basic/src/animation/AnimationObject.ts
  packages/kittik-animation-focus/src/Focus.ts
  packages/kittik-animation-focus/src/FocusObject.ts
  packages/kittik-animation-print/src/Print.ts
  packages/kittik-animation-print/src/PrintObject.ts
  packages/kittik-animation-slide/src/Slide.ts
  packages/kittik-animation-slide/src/SlideObject.ts
  packages/kittik-slide/src/animation/AnimationBuilder.ts
  packages/kittik-slide/src/animation/AnimationDeclaration.ts
  packages/kittik-slide/src/animation/Animations.ts
  packages/kittik-slide/src/slide/Slide.ts
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-slide

style: 💄 remove multiline in type parameters of Slide class
  packages/kittik-slide/src/slide/Slide.ts
Due: kittik-slide

fix: 🐛 when creating shape from object, all fields are mandator
  packages/kittik-shape-basic/spec/Shape.spec.ts
  packages/kittik-shape-basic/src/Shape.ts
  packages/kittik-shape-basic/src/ShapeObject.ts
Due: kittik-shape-basic

fix: 🐛 animation options are mandatory on creating animations
  packages/kittik-animation-basic/src/animation/Animation.ts
  packages/kittik-animation-basic/src/animation/AnimationObject.ts
  packages/kittik-slide/src/animation/AnimationDeclaration.ts
  packages/kittik-slide/src/shape/ShapeDeclaration.ts
Due: kittik-animation-basic, kittik-slide

test: 💍 update tests to reflect new generic interfaces
  packages/kittik-animation-basic/spec/Animation.spec.ts
  packages/kittik-animation-slide/spec/Slide.spec.ts
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-shape-fig-text/spec/FigText.spec.ts
  packages/kittik-shape-image/spec/Image.spec.ts
  packages/kittik-shape-rectangle/spec/Rectangle.spec.ts
  packages/kittik-shape-text/spec/Text.spec.ts
  packages/kittik-slide/spec/Slide.spec.ts
Due: kittik-animation-basic, kittik-animation-slide, kittik-deck, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 remove experimental modules flag and support only >=14
  .travis.yml
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 update typescript to the latest dev version
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 add @typescript-eslint/semi rule to reflect semi rule
  .eslintrc.json
Due: none

chore(release): publish v5.1.0-beta.2
  CHANGELOG.md
  lerna.json
  packages/kittik-animation-basic/CHANGELOG.md
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/CHANGELOG.md
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/CHANGELOG.md
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/CHANGELOG.md
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/CHANGELOG.md
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/CHANGELOG.md
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/CHANGELOG.md
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/CHANGELOG.md
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/CHANGELOG.md
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/CHANGELOG.md
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/CHANGELOG.md
  packages/kittik-shape-text/package.json
  packages/kittik-slide/CHANGELOG.md
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 update jest to the latest version
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

refactor: 💡 remove generic Canvas parameter from kittik-slide
  packages/kittik-slide/src/slide/Slide.ts
  packages/kittik-slide/src/slide/SlideBuilder.ts
Due: kittik-slide

feat: 🎸 improve typecheck and autocompletion for SlideBuilder
  packages/kittik-slide/src/slide/SlideBuilder.ts
Due: kittik-slide

chore: 🤖 change module system back to CommonJS
  .eslintrc.json
  jest.config.js
  package.json
  packages/kittik-animation-basic/jest.config.js
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/jest.config.js
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/jest.config.js
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/jest.config.js
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/jest.config.js
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/jest.config.js
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/jest.config.js
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/jest.config.js
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/jest.config.js
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/jest.config.js
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/jest.config.js
  packages/kittik-shape-text/package.json
  packages/kittik-slide/jest.config.js
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore(release): publish v5.1.0-beta.3
  CHANGELOG.md
  lerna.json
  packages/kittik-animation-basic/CHANGELOG.md
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/CHANGELOG.md
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/CHANGELOG.md
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/CHANGELOG.md
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/CHANGELOG.md
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/CHANGELOG.md
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/CHANGELOG.md
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/CHANGELOG.md
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/CHANGELOG.md
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/CHANGELOG.md
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/CHANGELOG.md
  packages/kittik-shape-text/package.json
  packages/kittik-slide/CHANGELOG.md
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

docs: ✏️ fix changelog
  CHANGELOG.md
Due: none

refactor: 💡 cast this to accumulator type in slide builder
  packages/kittik-slide/src/slide/SlideBuilder.ts
Due: kittik-slide
