Repository ghaiklor/kittik: changes, and which Codecov flags are due for each by the changed paths.
All: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-parser, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

codecov.yml:

coverage:
  status:
    project:
      kittik-animation-basic:
        flags:
          - kittik-animation-basic
      kittik-animation-focus:
        flags:
          - kittik-animation-focus
      kittik-animation-print:
        flags:
          - kittik-animation-print
      kittik-animation-slide:
        flags:
          - kittik-animation-slide
      kittik-deck:
        flags:
          - kittik-deck
      kittik-parser:
        flags:
          - kittik-parser
      kittik-shape-basic:
        flags:
          - kittik-shape-basic
      kittik-shape-code:
        flags:
          - kittik-shape-code
      kittik-shape-fig-text:
        flags:
          - kittik-shape-fig-text
      kittik-shape-image:
        flags:
          - kittik-shape-image
      kittik-shape-rectangle:
        flags:
          - kittik-shape-rectangle
      kittik-shape-text:
        flags:
          - kittik-shape-text
      kittik-slide:
        flags:
          - kittik-slide
flags:
  kittik-animation-basic:
    paths:
      - packages/kittik-animation-basic
  kittik-animation-focus:
    paths:
      - packages/kittik-animation-focus
  kittik-animation-print:
    paths:
      - packages/kittik-animation-print
  kittik-animation-slide:
    paths:
      - packages/kittik-animation-slide
  kittik-deck:
    paths:
      - packages/kittik-deck
  kittik-parser:
    paths:
      - packages/kittik-parser
  kittik-shape-basic:
    paths:
      - packages/kittik-shape-basic
  kittik-shape-code:
    paths:
      - packages/kittik-shape-code
  kittik-shape-fig-text:
    paths:
      - packages/kittik-shape-fig-text
  kittik-shape-image:
    paths:
      - packages/kittik-shape-image
  kittik-shape-rectangle:
    paths:
      - packages/kittik-shape-rectangle
  kittik-shape-text:
    paths:
      - packages/kittik-shape-text
  kittik-slide:
    paths:
      - packages/kittik-slide

refactor: 💡 rename renderSlide -> render in Deck
  packages/kittik-deck/examples/builder.ts
  packages/kittik-deck/examples/declaration.ts
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

docs: ✏️ update example for deck builder
  packages/kittik-deck/examples/builder.ts
Due: kittik-deck

chore: 🤖 update dependencies to the latest version
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

feat: 🎸 Deck extends an EventEmitter and produces exit event
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

docs: ✏️ update kittik-deck example with new exit event
  packages/kittik-deck/examples/builder.ts
Due: kittik-deck

fix: 🐛 deck could exit while rendering
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

refactor: 💡 swap order for canvas and declaration args in Slide
  packages/kittik-slide/spec/Slide.spec.ts
  packages/kittik-slide/src/slide/Slide.ts
Due: kittik-slide

chore: 🤖 rollback ESLint version back to 6.x
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

feat: 🎸 SlideBuilder can be started with predefined shapes\anim
  packages/kittik-slide/spec/SlideBuilder.spec.ts
  packages/kittik-slide/src/slide/SlideBuilder.ts
Due: kittik-slide

fix: 🐛 Deck uses an old call signature for creating slides
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

refactor: 💡 move canvas property from deck decl to constructor
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-deck/src/Deck.ts
  packages/kittik-deck/src/DeckDeclaration.ts
Due: kittik-deck

style: 💄 move Slide.create() to the nextline in Deck
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

feat: 🎸 DeckBuilder can accept a predefined shapes\animations
  packages/kittik-deck/spec/DeckBuilder.spec.ts
  packages/kittik-deck/src/DeckBuilder.ts
Due: kittik-deck

docs: ✏️ update an example for DeckBuilder
  packages/kittik-deck/examples/builder.ts
Due: kittik-deck

docs: ✏️ add a little example for DeckBuilder in root examples
  examples/rectangle.ts
Due: none

chore: 🤖 disable node/no-unpublished-import rule for examples
  .eslintrc.json
Due: none

docs: ✏️ add a minimal example to the root examples
  examples/minimal.ts
Due: none

chore: 🤖 increase depth for newline-per-chained-call rule
  .eslintrc.json
Due: none

fix: 🐛 canvas is not cleaning up when switching slides
  packages/kittik-deck/src/DeckBuilder.ts
Due: kittik-deck

fix: 🐛 image shape is not rendering in iTerm
  packages/kittik-shape-image/spec/Image.spec.ts
  packages/kittik-shape-image/src/Image.ts
Due: kittik-shape-image

fix: 🐛 deck is not clearing up canvas when showing\exiting
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

fix: 🐛 when passing custom canvas, it still resets the original
  packages/kittik-deck/spec/Deck.spec.ts
  packages/kittik-deck/spec/DeckBuilder.spec.ts
  packages/kittik-deck/src/Deck.ts
Due: kittik-deck

chore: 🤖 remove custom runtimeExecutable from launch config
  .vscode/launch.json
Due: none

chore: 🤖 add a launch configuration for debugging ts scripts
  .vscode/launch.json
  package.json
Due: none

fix: 🐛 update terminal-canvas with fixed eraseScreen behaviour
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: add default pull request template
  .github/PULL_REQUEST_TEMPLATE/default.md
Due: none

chore: move default pull request template into .github
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add contributing guidelines
  .github/CONTRIBUTING.md
Due: none

chore: add security policy file
  .github/SECURITY.md
Due: none

chore: add GitHub workflow for building project
  .github/workflows/build.yml
Due: none

chore: update messages in GitHub Node.js CI workflow
  .github/workflows/build.yml
Due: none

chore: 🤖 update dependencies to the latest version
  package.json
Due: none

chore: 🤖 update dependencies to the latest version
  packages/kittik-animation-basic/package.json
  packages/kittik-animation-focus/package.json
  packages/kittik-animation-print/package.json
  packages/kittik-animation-slide/package.json
  packages/kittik-deck/package.json
  packages/kittik-shape-basic/package.json
  packages/kittik-shape-code/package.json
  packages/kittik-shape-code/src/types/redeyed/index.d.ts
  packages/kittik-shape-fig-text/package.json
  packages/kittik-shape-image/package.json
  packages/kittik-shape-rectangle/package.json
  packages/kittik-shape-text/package.json
  packages/kittik-slide/package.json
Due: kittik-animation-basic, kittik-animation-focus, kittik-animation-print, kittik-animation-slide, kittik-deck, kittik-shape-basic, kittik-shape-code, kittik-shape-fig-text, kittik-shape-image, kittik-shape-rectangle, kittik-shape-text, kittik-slide

chore: 🤖 update GitHub templates to reflect new labels
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: 🤖 replace -r with --require in launch configuration
  .vscode/launch.json
Due: none
